server {
  server_name {{ web_url_plug }};
  listen 80;
  root {{ dir_site_plug }};
  index index.html;

  rewrite ^/(.*)/$ /$1 permanent;

  location / {
    try_files $uri $uri/ =404;
   }

  location = /favicon.ico {
    limit_except GET HEAD POST { deny all; }
    log_not_found off;
    access_log off;
  }

  access_log  /var/log/nginx/plug_access.log;
  error_log  /var/log/nginx/plug_error.log;

}