server {
  server_name {{ web_url_info }};
  listen 80;
  root {{ dir_site_info }};
  index info.php;

  rewrite ^(.+)/$ $1 permanent;

  location / {
    try_files $uri $uri/ =404;
  }

  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/run/php/php7.4-fpm.sock;
  }

  location = /favicon.ico {
    limit_except GET HEAD POST { deny all; }
    log_not_found off;
    access_log off;
  }

  access_log  /var/log/nginx/info_access.log;
  error_log  /var/log/nginx/info_error.log;

}