server {
    listen       80;
    server_name  {{ common.net.full_fqdn }};

    location / {
        root   {{ angie.websites.shared_dirs }}/{{ angie.websites.default.name }};
        index  {{ angie.websites.default.page_name }};
    
        set $debug_header $http_x_test_request;
        #if ($http_x_test_request = "{{ angie.websites.default.header.value }}") {
        #    return {{ angie.websites.default.header.status_def }} "OK - Test passed";
        #}
        if ($http_x_test_request = "") {
            return 400 "No X-Test-Request header received";
        }
        if ($http_x_test_request != "{{ angie.websites.default.header.value }}") {
            return 400 "Invalid header. Received: '$http_x_test_request'";
        }
        return 200 "Success";
    
    access_log  /var/log/angie/{{ common.net.full_fqdn }}_access.log  main;
    error_log /var/log/angie/{{ common.net.full_fqdn }}_error.log;

    }

    location /status/ {
        api     /status/;
        allow   127.0.0.1;
        deny    all;
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   {{ angie.websites.shared_dirs }}/{{ angie.websites.default.name }};
    }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    #location ~ \.php$ {
    #    root           html;
    #    fastcgi_pass   127.0.0.1:9000;
    #    fastcgi_index  index.php;
    #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
    #    include        fastcgi_params;
    #}

    # deny access to .htaccess files, if Apache's document root
    # concurs with angie's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}
